* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: #e0cdd0;
}

.calculator__wrapper {
  display: flex;
  gap: 15%;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.calculator__container {
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 5rem);
}

.calculator__image {
  width: 26rem;
  border-radius: 50%;
}

.calculator__container button {
  outline: none;
  cursor: pointer;
  border-radius: 0.6rem;
  font-size: 1rem;
}

.calculator__container button:hover,
.calculator__container button:focus {
  background-color: #034c65;
}

.span__two {
  grid-column: span 2;
}

.calculator__output {
  grid-column: 1/-1;
  background-color: #034c65;
  color: #fff;
  border-radius: 0.6rem;
  padding: 1rem;
  font-size: 3rem;
}

.calculator__operand {
  background: #d95319;
  color: #fff;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.5rem;
  background: #034c65;
}

.app__title {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

nav {
  display: flex;
  gap: 2rem;
  font-weight: 600;
  margin-right: 4rem;
}

.nav__item {
  text-decoration: none;
  color: #fff;
}

.home__container h1 {
  text-align: center;
  margin: 2rem;
}

.content {
  width: 60vw;
  margin: 0 20%;
  background: tan;
  border-radius: 1rem;
}

.quote__container {
  width: 65vw;
  margin: 20%;
  text-align: center;
  background: tan;
  border-radius: 1rem;
}

p {
  padding: 1.4rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
}

.nav__btn {
  display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1000px) {
  nav {
    position: fixed;
    top: 0;
    left: -0.1rem;
    height: 100%;
    width: 100%;
    background-color: #034c65;
    flex-direction: column;
    transition: 1s;
    transform: translateY(-100vh);
  }

  .nav__item {
    text-align: center;
    margin-top: 2rem;
  }

  .nav__btn {
    display: block;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    color: #fff;
  }

  .responsive__nav {
    transform: none;
  }

  .close__btn {
    position: absolute;
    top: 0;
    right: 2rem;
  }

  .calculator__wrapper {
    margin: 6rem 2rem;
  }

  .calculator__container {
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: minmax(6rem, auto) repeat(5, 4rem);
  }

  .calculator__output {
    font-size: 2rem;
  }

  .calculator__image {
    width: 20rem;
  }
}

@media screen and (max-width: 600px) {
  .calculator__wrapper {
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 4rem;
  }
}
